.prototype {
    border-width: 2px;
    border-color: #888888;
    border-style: solid;
    width: 900px;
    height: 450px;
    min-width: 900px;
}

.visualization {
    border-width: 2px;
    border-color: #888888;
    border-style: solid;
}

.content {
    width: 900px;
    max-width: 900px;
}

.check-list {
    list-style: none !important;
}